/* all */
:root {
  --btn-color: #470053;
  --btn-color-hover: #51045f;
}
body {
  background: #222;
  color: white;
  font-family: system-ui;
}
input {
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: white;
}
input:focus {
  background-color: black;
}
.delete-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.delete-box > div {
  display: flex;
  gap: 1rem;
}
.delete-box button {
  width: 60px;
}
.delete-box button.no {
  background-color: #a00d02;
}
/* auth */
.auth {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.auth form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 7px 0px;
}
.auth button {
  width: 100%;
  padding: 10px;
  color: white;
  background: var(--btn-color);
  border: none;
  margin: 10px 0;
  cursor: pointer;
}
.auth span {
  color: #9655a1;
  cursor: pointer;
}
.auth .error,
.auth .success {
  transition: 0.5s;
  text-align: center;

  padding: 10px;
  margin: 10px;
}
.auth .error {
  background: #cf3b3b73;
}
.auth .success {
  background: #3bcf4073;
}
/* home */
.crud {
  width: 80%;
  margin: auto;
}
.crud .user-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.crud .user-info button {
  width: fit-content;
  border-radius: 7px;
  padding: 0 15px;
  background: #a00d02;
}
.crud .head {
  text-align: center;
  text-transform: uppercase;
}
.crud input {
  width: 100%;
}
.crud .price {
  display: flex;
  align-items: center;
}
.crud .price input {
  width: 40%;
  margin-right: 10px;
}
#total {
  background: #a00d02;
  padding: 5px 2px;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  text-wrap: nowrap;
}
#total::before {
  content: "total: ";
}
button {
  transition: 0.5s;
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: var(--btn-color);
  color: white;
  border-radius: 20px;
}
button:hover {
  background: var(--btn-color-hover);
  letter-spacing: 1px;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
.deleteAll {
  margin: 20px 0;
}
.table {
  overflow-x: scroll;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
table tr.updated {
  animation: gren 0.6s 2;
}
@keyframes gren {
  from {
    background-color: transparent;
  }
  to {
    background-color: green;
  }
}
